{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Confirm | SUNSHINE </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="icon" type="image/svg+xml" href="{% static 'img/logo.svg' %}" />
     {% load livereload_tags %}
</head>
<body class="wrapper">
    <header class="login-header-wrapper">
        <div class="header-inner-wrapper">
          <a href="{% url 'home'%}">
            <img src="{% static 'img/Logo.png' %}" alt="Logo"
          /></a>
        </div>
    </header>
    <div class="login-box">
        <div class="login-box-top">
            <h2>Enter New Password</h2>
            <p>Please enter new passowrd twice so we can confirm you typed it correctly</p>
        </div>
        <form method="post" action="{% url 'password_reset_complete'%}" class="login-form">
            {% csrf_token%}
                <div class="input-field">
                    <label for="email"> New Password</label>
                    <input type="password" name="password" placeholder='Password' class="form-input" required id="password">
                </div>
                <div class="input-field">
                    <label for="email"> Confirm Password</label>
                    <input type="password" name="password" placeholder='Password' class="form-input" required id="password">
                </div>        
            <div class="login-submit-btn-container">
              <button class="login-submit-btn"> 
                Change My Password
              </button>
            </div>
            <div class="error-messages">
                {% if form.errors %}
                    <div class="error-messages">
                        <span class="error-span">
                            <strong>Error:</strong> Please correct the following issues and try again.
                        </span>
                        <ul class="error-span">
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ field }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </form>
    </div>
</body>
</html>