{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Reset Password | SUNSHINE </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="icon" type="image/svg+xml" href="{% static 'img/logo.svg' %}" />
     {% load livereload_tags %}
</head>
<body class="wrapper">
    <header class="login-header-wrapper">
        <div class="header-inner-wrapper">
          <a href="{% url 'home'%}">
            <img src="{% static 'img/Logo.png' %}" alt="Logo"
          /></a>
        </div>
    </header>
    <div class="login-box">
        <div class="login-box-top">
            <h2>Reset Password</h2>
            <p>Forgotten your Password? Enter your Email Address below, and we'll email instructions for setting a new one.</p>
        </div>
        <form method="post" action="{% url 'password_reset'%}" class="login-form">
            {% csrf_token%}
                <div class="input-field">
                    <label for="email"> Email Address</label>
                    <input type="email" name="email" placeholder='Email Address' class="form-input" required id="id_email">
                </div>
            <div class="login-submit-btn-container">
              <button class="login-submit-btn"> 
                Reset My Password
              </button>
            </div>
            <div class="error-messages">
                {% if form.errors %}
                <div class="error-messages">
                <span class="error-span">
                    <strong>Error:</strong> Please correct the following issues and
                    try again.
                </span>
                <ul class="error-span">
                    {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ field }}: {{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
                </div>
                {% endif %}
            </div>
        </form>
    </div>
</body>
</html>