{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Password Reset Sent | SUNSHINE </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="icon" type="image/svg+xml" href="{% static 'img/logo.svg' %}" />
     {% load livereload_tags %}
</head>
<body class="wrapper">
    <header class="login-header-wrapper">
        <div class="header-inner-wrapper">
          <a href="{% url 'home'%}">
            <img src="{% static 'img/Logo.png' %}" alt="Logo"
          /></a>
        </div>
    </header>
    <div class="login-box">
        <div class="login-box-top">
            <h2> Password Reset Sent</h2>
            <p>We've Emailed you Instructions for setting your password, if an account exists with the email you entered, You should receive them shortly</p>
            <p>If You don't recieve  an email pleasemake sure you've entered the address you registered with, and check your spam folder or try again later.</p>
        </div>
    </div>
</body>
</html>