{% extends "base.html" %}
{% load static %} 
{% load widget_tweaks %}

{% block meta_description %} Your meta description for the home page goes here. {% endblock %} 
{% block meta_keywords %} Your meta keywords for the home page go here. {% endblock %} 
{%block title %} Urban Styles | Product Details {% endblock %} 
{% block extra_head %}{# Add any additional head content specific to the home page here #} {% endblock%}

{% block content %}
    <div class="new-release">
        <div class="product-details-inner">
            <h1>Product Details</h1>
            <div class="details">
                <div class="images">
                    {% if product.image %}
                    <img class="relative-img" src="{{ product.image.url }}" alt="{{ product.name }}" />
                    {% else %}
                    <img
                        class="relative-img"
                        src="{% static 'img/PR1.svg' %}"
                        alt="Placeholder Image"
                    />
                    {% endif %}
                </div>

                <div class="details-container">
                    <div class="details-container-top">
                        <h2>{{product.name}}</h2>
                        <p>{{product.description}}</p>
                        <h2>N {{product.price}}</h2>
                    </div>
                    <div class="details-container-middle">
                        <div class="colors">
                            <img src="{% static 'img/color.svg' %}" alt="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                <circle cx="16" cy="16" r="16" fill="#FD3B2E"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                <circle cx="16" cy="16" r="16" fill="#1F0404"/>
                            </svg>
                        </div>

                        <div class="sizes">
                            <div class="frame-black">
                                <p>XL</p>
                            </div>
                            <div class="frame">
                                <p>L</p>
                            </div>
                            <div class="frame">
                                <p>M</p>
                            </div>
                            <div class="frame">
                                <p>S</p>
                            </div>
                        </div>
                    </div>
                    <div class="details-container-bottom">
                            <form class="cart" action="{% url 'add_to_cart' product.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <button class="cart" type="submit">ADD TO CART</button>
                            </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


{% endblock %}
